
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySmsRecibidoLabel" translate="paycelApp.smsRecibido.home.createOrEditLabel">Create or edit a SmsRecibido</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.smsRecibido.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="paycelApp.smsRecibido.numeroTelefono" for="field_numeroTelefono">NumeroTelefono</label>
            <input type="text" class="form-control" name="numeroTelefono" id="field_numeroTelefono"
                    ng-model="vm.smsRecibido.numeroTelefono"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="paycelApp.smsRecibido.mensaje" for="field_mensaje">Mensaje</label>
            <input type="text" class="form-control" name="mensaje" id="field_mensaje"
                    ng-model="vm.smsRecibido.mensaje"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="paycelApp.smsRecibido.fechaHoraRecibido" for="field_fechaHoraRecibido">FechaHoraRecibido</label>
                <div class="input-group">
                    <input id="field_fechaHoraRecibido" type="text" class="form-control" name="fechaHoraRecibido" datetime-picker="{{dateformat}}" ng-model="vm.smsRecibido.fechaHoraRecibido" is-open="vm.datePickerOpenStatus.fechaHoraRecibido"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaHoraRecibido')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
